#header{
	background-color: #007F7F;
	height: 70px;
	text-align: center;
	line-height: 400%;
	margin-top: 50px;
    font-family: Arial Black;

  
}

.menuOne ul{
    margin-left: 0;
    padding-left: 0;
}

.menuOne ul li{
    text-align: center;
    line-height: 400%;
    background-color: #007F7F;
    float: left;
    display: block;
    width: 33%;
    font-family: Arial Black;
}

.btnOne{
    width:70%;
    border:none;
    background-color: #00403F;
    font-family: Arial Black;
}


.menuTwo ul li{
	text-align: center;
	line-height: 400%;
    background-color: #007F7F;
    float: left;
    display: block;
    width: 33.333333333%;
    font-family: Arial Black;
}


#firstWords{
    width: 50%;
    height: auto;
    background-color: #007F7F;
    clear: both;
    margin-top: 100px;
    float: left;


}

.btnTwo{
    width:70%;
    border:none;
    background-color: #00403F;
    font-family: Arial Black;
}

#paragraphOne{
	padding: 20px;
}


#pictures{
    width: 40%;
    background-color: #007F7F;
    margin-top: 100px;
    margin-left: 60%;
    position: fixed;

}

img{
    margin: 0;
    padding: 0;
    max-width: 400px;
    max-height: 400px;
}



body{
	padding: 0;
	margin: 0;

}

html{
	background-color: #00BFBF;

}