#header{
	background-color: #007F7F;
	height: 70px;
	text-align: center;
	line-height: 400%;
	margin-top: 50px;
    font-family: Arial Black;

  
}

.menuOne ul{
    margin-left: 0;
    padding-left: 0;
}

.menuOne ul li{
    text-align: center;
    background-color: #007F7F;
    float: left;
    display: block;
    width: 33.333%;
    font-family: Arial Black;

}

.btnOne{
    width:70%;
    border:none;
    background-color: #0C4D4B;
    font-family: Arial Black;
    margin-top: 10px;
    margin-bottom: 0px;


}

#btnOneOne{
        background-color: #0C4D4B;
}


.menuTwo ul li{
	text-align: center;
    background-color: #007F7F;
    float: left;
    display: block;
    width: 33.333333333%;
    font-family: Arial Black;
    margin: 0;
}


#firstWords{
    width: 50%;
    height: auto;
    background-color: #007F7F;
    clear: both;
    margin-top: 100px;
    float: left;

}

#menuLiTwo{
    margin: 0px;
    padding: 0px;
}

.btnTwo{
    width:70%;
    border:none;
    background-color: #007F7F;
    font-family: Arial black;
    margin-top: 0px;
        margin: 0;

}

#paragraphOne{
	padding: 20px;
}


#pictures{
    width: 40%;
    background-color: #007F7F;
    margin-top: 155px;
    margin-left: 60%;
    position: fixed;

}

img{
    margin: 0;
    padding: 0;
    max-width: 400px;
    max-height: 400px;
}





body{
	padding: 0;
	margin: 0;

}

html{
	background-color: #0C4D4B;


}